body {
	background-color: #fcd9e2;
	text-align: center;
	font-family: 'Raleway';
}

ul {
  	list-style-type: none;
  	display: inline-block;
  	text-align: center;
}

li {
	display: block;
}

p {
	font-size: 1rem;
}

.linked {
	text-decoration: underline;
	color: black;
}

.linked:hover {
	color: #4286f4;
}

.wrapper {
  overflow: hidden;
}

.bg {
	background: url("guitar.JPG") repeat-x;
    height: 500px;
    width: 5076px;
	animation: slide 60s linear infinite;
}

@keyframes .slide {
  0%{
    transform: translate3d(0, 0, 0);
  }
  100%{
    transform: translate3d(-1692px, 0, 0);
  }
}
