body {
	font-family: 'Lora';
	text-align: center;
	background-image: url("jeanfolddark.jpg");
	background-size: cover;
	color: #ffffff;
}

h1 {
	padding-top: 0rem;
	font-size: 5em;
	padding-bottom: 0rem;
	margin-bottom: 1rem;
}

p {
	font-family: 'Dancing Script';
}

.first {
	width: 40%;
	margin-left: 29.9%;
	margin-right: 29%;
}

.first:hover {
	animation-name: firstcolor;
    animation-duration: 4s;
}

@keyframes firstcolor {
    0%   {color: #ffffff;}
    25% {color: #55c2d6;}
    100% {color: #ffffff;}
}

.pocketpic {
}

.picdiv {
	width: 39%;
	margin: 4.5%;
	display: inline-block;
}

.infodiv {
	width: 39%;
	margin: 0 4.5% 4.5% 4.5%;
	display: inline-block;
}
