/*
.wrapper {
  overflow: hidden;
}

.bg {
	background: url("website1.jpg") repeat-x;
    height: 500px;
    width: 5076px;
	animation: slide 60s linear infinite;
}

@keyframes .slide {
  0%{
    transform: translate3d(0, 0, 0);
  }
  100%{
    transform: translate3d(-1692px, 0, 0);
  }
} */
@import url('https://fonts.googleapis.com/css?family=Roboto');
body {background-color: #0D1B2B;}
.blackbox {width:100%;}
.slide-image {height: 24vw; width: 30%; float: left; display: inline;}
.slide-image img {width: 24vw; cursor: pointer; padding: 3rem 0rem 0rem 3rem;}
.slide-content {width: 50%; float: left; color: #fff; display: inline; padding:7rem 5rem 2rem 3rem;}
.slide-date {color: #0a8acb; font-size: 1.1vw; font-weight: 400; letter-spacing: 0.1vw; padding-bottom: 1.4vw;}
.slide-title {font-size: 1.2vw; font-weight: 400; letter-spacing: 0.1vw; line-height: 1.55vw; padding-bottom: 1.8vw;}
.slide-text {font-size: 0.80vw; line-height: 1.2vw; opacity: 0.8; padding-bottom: 4vw;}
.slide-more {font-weight: 400; letter-spacing: 0.1vw; float: left; font-size: 0.9vw;}
.slide-bullet {width: 0.5vw; height: 0.5vw; background-color: #0b8bcc; border-radius: 200%; position: relative; margin-left: 1.2vw;}

.slide-nav {margin-left: 64vw; margin-top: -5.5vw;}
